<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Edit Makanan</title>
</head>
<body>
    <div class="container">
        <h1>Edit Makanan</h1>
        <form method="POST">
            <input type="text" name="nama" value="{{ item.nama }}" required>
            <input type="text" name="kategori" value="{{ item.kategori }}" required>
            <textarea name="deskripsi" required>{{ item.deskripsi }}</textarea>
            <button type="submit">Update</button>
        </form>
    </div>
</body>
</html>
